@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.container {
    .bg-img {
        background: url('https://images.pexels.com/photos/169789/pexels-photo-169789.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        // background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 100vw;
        height: 100vh;

        .navbar-container {
            width: 100%;
            margin: 0 auto;
            // background: #000;
            padding: 1rem 0;
            border-radius: 0.4rem;
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(70, 92, 92, 0);
            // border-radius: 12px;
            // border: 1px solid rgba(255, 255, 255, 0.125);

            .navbar {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                .nav-item {
                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                    // padding-bottom: 2rem;
                    .hoverable {
                        display: inline-block;
                        backface-visibility: hidden;
                        vertical-align: middle;
                        position: relative;
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        transform: translateZ(0);
                        transition-duration: .3s;
                        transition-property: transform;
                        text-decoration: none;
                        // color: #fff;

                        &:before {
                            position: absolute;
                            pointer-events: none;
                            z-index: -1;
                            content: '';
                            top: 100%;
                            left: 5%;
                            height: 10px;
                            width: 90%;
                            opacity: 0;
                            background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
                            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
                            /* W3C */
                            transition-duration: 0.3s;
                            transition-property: transform, opacity;
                        }

                        &:hover {
                            transform: translateY(-5px);

                            &:before {

                                opacity: 1;
                                transform: translateY(-5px);
                            }
                        }
                    }

                    &:active {
                        transform: translateY(-5px);

                        &:before {

                            opacity: 1;
                            transform: translateY(-5px);
                        }
                    }

                    &:focus {
                        transform: translateY(-5px);

                        &:before {

                            opacity: 1;
                            transform: translateY(-5px);
                        }
                    }
                }
            }
        }

        .content-container {
            width: 70vw;
            margin: 0 auto;

            .content {
                display: flex;
                justify-content: space-between;
                // display: flex;
                // padding: 7rem;
                // margin: 0rem;
                padding: 6rem 0;
                // margin: 6rem 0;

                .desc-text {
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    justify-content: center;
                    color: #fff;
                    width: 48%;

                    h3 {
                        padding: 2rem 0;
                    }

                }

                img {
                    // width: 40vw;
                    width: 48%;
                    // height: 500px;
                }
            }
        }
    }

    .about-container {
        background: #1e2131;

        .about {
            width: 70%;
            margin: 0 auto;
            height: 720px;
            display: flex;
            // text-align: center;
            // justify-content: center;
            align-items: center;
            justify-content: space-between;

            .about-img {
                // padding: 7rem;
                width: 28%;
                // height: 300px;
                // margin: auto;

                .image {
                    background: url('../assets/images/about-image.jpeg');
                    width: 100%;
                    height: 500px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 1rem;
                }
            }

            .about-desc {
                // text-align: center;
                padding: 7rem 0;
                width: 68%;
                color: #fff;
                // background-color: rgba(255, 255, 255, 0.1);
                display: flex;
                flex-direction: column;
                // justify-content: center;
                gap: 1.5rem;

                .about-left {
                    // text-align: left;
                    color: #f3584c;

                    // padding: 2rem 0;
                    h1 {
                        color: #fff;
                    }
                }

                .about-box {
                    display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    justify-content: space-between;
                    border: 1px solid #f3584c;
                    padding: 1rem;
                    // margin: 2rem;

                    ul {
                        list-style: none;
                    }

                    .about-box-card1 {
                        width: 45%;
                    }

                    .about-box-card2 {
                        width: 45%;
                    }
                }
            }
        }
    }

    .skills-container {
        background: #2c314f;

        .skills {
            width: 70%;
            margin: 0 auto;
            height: 720px;
            // text-align: center;
            justify-content: center;
            align-items: center;
            // justify-content: space-between;

            .skills-top {
                display: flex;
                margin: 0 auto;
                align-items: center;

                h1 {
                    padding: 5rem 0 5rem;
                    color: #f3584c;
                    font-size: 3.5rem;
                }

                // .skills-img {
                //     padding: 3rem;
                //     width: 28%;
                //     // height: 300px;
                //     margin: auto;


                // }
            }





            .skills-heading {
                // display: flex;


                .skill-card-box {
                    display: flex;

                    .skill-card {
                        display: flex;
                        width: 25%;
                        padding: 10px;

                        img {
                            width: 2.5rem;
                            padding: 0.5rem 0.5rem;
                        }

                        h2 {
                            color: #fff;
                            font-size: 2rem;
                            padding-top: 0.5rem;
                        }
                    }
                }
            }


        }
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}


@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100vw;

        .bg-img {
            height: 1080px;

            .navbar-container {
                border-radius: 0px;

                .navbar {
                    flex-direction: column;
                }
            }

            .content-container {
                width: 98vw;

                .content {
                    flex-direction: column-reverse;
                    padding: 2rem 0;
                    gap: 2rem;

                    .desc-text {
                        width: 100%;
                        text-align: center;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .about-container {

            .about {
                width: 98vw;
                flex-direction: column;
                height: auto;

                .about-img {
                    width: 100%;
                }
            }

            .about-desc {
                width: 100%;

                .about-box {
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }

        .skills-heading {
            .skills {
                .skills-heading {
                    display: flex;
                    flex-direction: column;

                    .skill-card-box {
                        flex-direction: column;
                        width: 100%;
                    }
                }
            }
        }
    }
}